* {
  margin: 0;
  padding: 0;
}

.wrapper {
  background-color: #fafafa;
}

.navbar-custom {
  background-color: #fff;
  padding: 23px 100px 27px 100px;
}

.Bookstore-CMS {
  font-family: "Montserrat", serif;
  font-size: 30px;
  font-weight: bold;
  color: #0290ff;
}

.BOOKS {
  font-family: "Montserrat", serif;
  font-size: 13px;
  letter-spacing: 1.9px;
  color: gray;
}

.CATEGORIES {
  opacity: 0.5;
  font-family: "Montserrat", serif;
  font-size: 13px;
  letter-spacing: 1.9px;
  color: gray;
}

.Mask {
  width: 17px;
  height: 17px;
  background-color: blue;
}

.btnSubmit {
  width: 143px;
}

.btnCategory {
  width: 285px;
}

.title {
  font-family: "RobotoSlab", sans-serif;
  font-size: 22px;
}

.School-of {
  opacity: 0.5;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: gray;
}

.Comments {
  font-family: "RobotoSlab", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #4386bf;
}

.column-wrapper {
  height: 170px;
  padding: 20px;
  background-color: white;
  margin: 40px 5px !important;
  border: solid 1px #e8e8e8;
}

.add-book {
  margin: 29px 524px 19px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #888;
}

.Current-Chapter {
  opacity: 0.5;
  font-family: RobotoSlab;
  font-size: 13px;
  font-weight: 300;
  color: #121212;
}

.Current-Lesson {
  font-family: RobotoSlab;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.4px;
  color: #121212;
}
