* {
  margin: 0;
  padding: 0;
}

.wrapper {
  background-color: #fafafa;
}

.navbar-custom {
  background-color: #fff;
  padding: 23px 100px 27px 100px;
}

.Bookstore-CMS {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: bold;
  color: #0290ff;
}

.BOOKS {
  font-family: Montserrat;
  font-size: 13px;
  letter-spacing: 1.9px;
  color: gray;
}

.CATEGORIES {
  opacity: 0.5px;
  font-family: Montserrat;
  font-size: 13px;
  letter-spacing: 1.9px;
  color: gray;
}

.Mask {
  width: 17px;
  height: 17px;
  background-color: blue;
}
